*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    height: 10vw;
    width: 10vw;
    background-color: red;
    border-radius: 45% 0% 45% 0%;
    transition: all 10s;
    bac
}
div:hover{
    transform: rotate(4440deg);
}